{
  "name": "{{ folder }}",
  "schedule": {
    "quartz_cron_expression": "0 0 12 * * ?",
    "timezone_id": "America/New_York",
    "pause_status": "PAUSED"
  },
  "max_concurrent_runs": 1,
  "tasks": [
    {
      "task_key": "main",
      "notebook_task": {
        "notebook_path": "{{ cfg.project.jobs_dir }}/{{ folder }}/{{ notebook[:-3] }}"
      }
    }
  ],
  "format": "MULTI_TASK"
}
